*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat" ,sans-serif;
    background-image: url(bgweather3.jpg);
    background-size: cover;
    background-position: top center;
    height: 750px;
    
}

#tasks{
    /* border: 1px solid white; */
    width: 300px;
    height: 100px;
    float: left;
    position: relative;
    right: 480px;
    bottom: 100px;
    overflow-y: scroll;
}
#field{
    position: relative;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    right: 450px;
    top: 50px;
    text-align: center;
    color: white;
}
#field:focus{
    outline: none;
}
#add{
    position: relative;
    right: 450px;
    top: 50px;
    color: white;
    background-color: transparent;
    border: none;
}
#clr{
    position: relative;
    bottom: 20px;
    right: 450px;
    color: white;
    background-color: transparent;
    border: none;
}

.tasks li{
    color: white;
    list-style: none;
    margin-bottom: 10px;
    margin-left: 10px;
}
#del, #check{
    float: right;
}
#check, #del{
    margin-right: 10px;
}
#del{
    font-size: 15px;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-top: 2px;
    border: none;
    color: white;
    background-color: transparent;
    z-index: 999;
}
#check{
    margin-top: 6px;
}

#google{
    font-size: 20px;
    border-radius: 15px;
    background-color: transparent;
    border: .5px solid rgb(189, 189, 189);
    color: white;
    padding: 5px;
    width: 250px;
    margin-left: 62px;
    margin-top: 20px;
    text-align: center;
}
#google:focus{
    outline: none;
}

.fa-google{
    color: rgb(38, 101, 195);
    position: relative;
    right: 30px;
}

.wrapper{
    position: absolute;
    margin-left: 860px;
    margin-top: 5px;
    height: 100px;
    width: 250px;
    /* background: rgba(172, 174, 177, 0.459); */
    border-radius: 20px;

}

.wrapper .display,
.wrapper span{
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display{
    
    /* opacity: 0; */
    border-radius: 13px;
    z-index: 999;
    /* background: rgba(235, 235, 236, 0.322); */
    height: 85px;
    width: 205px;
    text-align: center;
}

.wrapper .display #time{
    line-height: 85px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

#wel{
    color: white;
    padding-left: 40px;
    padding-top: 30px;
}

#nameUser{
    font-size: 15px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding:8px;
    position: relative;
    bottom: 100px;

}
#nameUser:focus{
    outline: none;
}

.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 700px;
    border: 2px solid rgba(185, 183, 183, 0.76);
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),rgba(0,0,0,0.6));

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

.search-box{
    color: black;
    margin-left: 10px;
}

header input{
    width: 100%;
    color: black;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgb(202, 198, 198);
    border-radius: 20px;
    /* border-bottom: 3px solid #000000; */

    color: black;
    font-size: 20px;
    font-weight: 300;
    animation: transform 1s ease-out;
    transition: 0.2s ease-out;
    
}

header input:focus{
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.location .city{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date{
    color: white;
    font-size: 16px;
}

.current .temp{
    color: white;
    font-size: 102px;
    font-weight: 900px;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span{
    font-weight: 500;
}

.current .weather{
    color: white;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0, 0.4);
}

.current .hi-low{
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}