*{
  margin:0;
}
.App{
  background-color: #fafafa;
  height: 100vh;
}
.app__header{
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 1;
  background-color: white;
  padding: 15px;
  padding-left: 0;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

#userN{
  /* margin-right: 10%; */
  margin-right: 10px;
  margin-top: 15px;
  font-size: 15px;
  border: .5px solid black;
  border-radius: 10px;
  padding: 10px;
}

.btn__logout{
  color: rgb(136, 42, 42);
  margin-right: 0px;
}

.logged{
  margin-top: 10px;
}

.app__welcome{
  text-align: center;
}

.app__welcome h2{
  margin-top: 25px;
}
.app__welcome span{
  font-weight: lighter;
}

.app__headerImage{
  object-fit: contain;
  margin-right: 20px;
}

.app__story{
  display: flex;
  justify-content: space-around;
  border: 1px solid lightgray;
  padding: 10px;
  padding-top: 20px ;
  overflow-y: scroll;
}
.app__story p{
  font-size: 10px;
  margin-left: 20px;
} 
.app__story img{
  border-radius: 50%;
  border: 3px solid rgb(245, 165, 37);
}

#prostory img{
  display: flex;
  border-radius: 50%;
  border: 3px solid rgb(14, 167, 255);
}

.app__posts{
  padding: 0px;
}

.app__signup{
  display: flex;
  flex-direction: column;
}