:root {
    --bkg-color: rgb(247, 247, 247);
    --font-color: black;
    --filter: none;
    --box-shadow: rgba(0,0,0,0.37);
  }
  
  [data-theme="dark"] {
    --bkg-color: black;
    --font-color: white;
    --filter: invert(100%);
    --box-shadow: rgba(146, 146, 146, 0.37);
  }


.imageupload{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top-left-radius: 25px; 
    border-top-right-radius: 25px;
    /* border-bottom-left-radius: 25px; 
    border-bottom-right-radius: 25px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    background-color: var(--bkg-color);
    /* border-top: 1px solid gray; */
    box-shadow: 1px 0px 15px rgb(163, 163, 163);
}

.imageupload__input{
    font-size: 20px;
    position: fixed;
    bottom: 85px;
    padding: 6px;
    border: none;
    color: var(--font-color);
    border-bottom: 1px solid var(--font-color);
    border-top: 1px solid var(--font-color);
    border-right: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 64%;
    z-index: -1;
    /* border-radius: 10px; */
    margin-left: 29%;
    /* margin-right: auto; */
    background-color: transparent;
}
.imageupload__input:focus{
    outline: none;
    background-color: var(--bkg-color);
}

.imageupload__button{
    border: 1px solid rgb(131, 131, 131);
    background-color: rgb(185, 157, 157);
    padding-top: 0px;
}

.upload__button{
    color: var(--font-color);
    border: .5px solid transparent;
    padding: 5px;
    color: white;
    border-radius: 15px;
    position: relative;
    top: 30px;
    padding-top: 10px;
    right: 40px;
    bottom: 0px;
    width: 333px;
    height: 30px;
    background-color: rgb(72, 157, 255);
}

.upload__btn{
    font-size: 20px;
    padding-top: 5px;
    margin-left: 0%;
    margin-top: 40px;
    position: relative;
}

input[type="file"]{
    color: transparent;
    /* margin-top: 40px;
    width: 120px;
    height: 180px; */
    
}

/* input[type=file]::file-selector-button {
    background-color: transparent;
    position: relative;
    bottom: 42px;
    border: none;
    right: 140px;
    margin-top: 0px;
    border-radius: 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
} */

/* input[type=file]::-webkit-file-upload-button{
    background-color: transparent;
    position: relative;
    bottom: 42px;
    border: none;
    right: 140px;
    margin-top: 0px;
    border-radius: 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 12px;
} */

.img__up__ input[type=file]::-webkit-file-upload-button{
    background-color: transparent;
    position: relative;
    color: var(--font-color);
    left:10px;
    bottom: 38px;
    z-index: 100;
    font-size: 15px;
    padding: 8.5px;
    border-top: 1px solid var(--font-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid var(--font-color);
    border-left: 1px solid var(--font-color);
}


.imageupload__progress{
    /* border: .5px solid black; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* #plus__btn{
    font-size: 15px; */
    /* margin-right: auto; */
    /* margin-left: 0px;
    margin-top: 10px;
    border-radius: 10px; */
    /* width: 49px;
    height: 40px; */
    /* border: 1px solid rgb(148, 147, 147); */
    /* border: none; */
    /* background-color: var(--bkg-color);
    -webkit-box-shadow: -1px 15px 17px 5px var(--box-shadow); 
    box-shadow: -1px 15px 17px 5px var(--box-shadow);
} */

#id__btn, #lo__btn{
    border: none;
    font-size: 25px;
    background-color: transparent;
    margin-top: 0px;
}

#plus__btn{
    position: relative;
    bottom: 18px;
    background: linear-gradient(rgb(255, 166, 0), rgb(238, 13, 107));
    margin-top: 0px;
    font-size: 0px;
    border: 1px solid white;
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

#plus__sign{
    position: relative;
    bottom: 3px;
    margin-bottom: 30px;
    color: white;
    margin-left: 1px;
    font-size: 40px;
}

#plus__btn .fa-plus-circle{
    font-size: 24px;
}

/* .img__up__ .fa-plus-circle{
    margin-top: 28px;
    font-size: 20px;
    color: var(--font-color);
} */

.imageuploade__input{
    font-size: 15px;
    border: .5px solid rgb(141, 141, 141);
    border-radius: 5px;
    padding: 5px;
    width: 250px;
    text-align: center;
}

.imageuploade__input:focus{
    outline: none;
}


.image__upload input[type=file]::-webkit-file-upload-button{
    margin-left: 33.5%;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
}

.img__up__{
    display: flex;
    justify-content: space-around;
}

.img__up__ .fa-user-circle, .fa-plus-circle, .fa-home{
    color: var(--font-color);
}
