.imageupload{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    background-color: rgb(230, 230, 230);
    border-top: 1px solid gray;
}

.imageupload__input{
    font-size: 30px;
    border: none;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 241, 241);
}
.imageupload__input:focus{
    outline: none;
    background-color: rgb(255, 255, 255);
}

.imageupload__button{
    border: 1px solid lightgray;
    background-color: rgb(248, 248, 248);
    padding-top: 10px;
}

.upload__btn{
    font-size: 20px;
    padding-top: 5px;
    margin-left: 45%;
}

input[type="file"]{
    color: transparent;
}

.imageupload__progress{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}