:root {
    --bkg-color: white;
    --font-color: black;
    --filter: none;
    --box-shadow: rgba(0,0,0,0.61);
  }
  
  [data-theme="dark"] {
    --bkg-color: black;
    --font-color: white;
    --filter: invert(100%);
    --box-shadow: rgba(255, 255, 255, 0.253);
  }



.post{
    max-width: 780px;
    background-color: var(--bkg-color);
    /* border: 1px solid lightgray; */
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
}

.post__img{
    width: 90%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 10px;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: contain;
    /* -webkit-box-shadow: -1px 11px 10px 3px var(--box-shadow); 
    box-shadow: -1px 11px 10px 3px var(--box-shadow); */
    -webkit-box-shadow: -1px -4px 10px 1px var(--box-shadow); 
    box-shadow: -1px -4px 10px 1px var(--box-shadow);

    /* border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; */
}
.post__text{
    font-weight: normal;
    font-size: 15px;
}
.post__text{
    padding: 15px;
    font-weight: normal;
    color: var(--font-color);
}

.post__header{
    display: flex;
    align-items: center;
    color: var(--font-color);
    /* width: 100%; */
    padding: 5px;
    justify-content: space-between; 
    margin-left: 20px;
    margin-right: 20px;
}

.post__avatar{
    margin-right: 10px;
    border: 2px solid rgb(231, 147, 51);
}

#post__likes{
    margin-top: 20px;
    margin-left: 15px;
    color: var(--font-color);
}

.post__commentBox{
    display: flex;
    margin-top: 10px;
    color: var(--font-color);
}

.post__input{
    flex: 7;
    border: none;
    padding: 10px;
    color: var(--font-color);
    font-size: 17px;
    background-color: var(--bkg-color);
    /* border-top: 1px solid lightgray; */
}
.post__input:focus{
    outline: none;
}

.post__comments{
    padding: 10px;
    color: rgb(82, 82, 82);
    font-size: 13px;
}

.fa-ellipsis-v{
    margin-left: 60%;
    /* float: right; */
}

.post__like{
    padding-left: 14px;
    padding-bottom: 10px;
    padding-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    width: 86%;
    max-width: 780px;
    object-fit: contain;
    /* height: 50px; */
    z-index: 2;
    color: var(--font-color);
    /* border-top: 1px solid black; */
    border-bottom: .5px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -1px 11px 10px 3px var(--box-shadow);
}


#dots{
    font-size: 30px;
    float: right;
    /* margin-left: 60%; */
    margin-right: 10px;
    margin-bottom: 15px;
}

.fa-heart, .fa-comment, .fa-bookmark, .fa-paper-plane{
    font-size: 25px;
    color: var(--font-color);
    font-weight: lighter;
}

.redHeart{
    color: red;
}
.norHeart{
    color: black;
}
.blueComm{
    color: rgb(49, 124, 245);
}

.fa-paper-plane{
    margin-left: 18px;
    font-weight: lighter;
    font-size: 22px;
    -webkit-text-stroke: 0px black;
}

.fa-comment{
    margin-left: 20px;
}
.fa-bookmark{
    float: right;
    margin-right: 20px;
}

.post__button{
    flex: 2;
    color: rgb(77, 152, 238);
    font-size: 15px;
    border: none;
    /* border-top: 1px solid lightgray; */
    background-color: var(--bkg-color);
}

.post__header h2{
    font-size: 15px;
    display: flex;
    align-items: center;
    color: var(--font-color);
}

#comm_count{
    padding-left: 15px;
    padding-top: 5px;
    opacity: 40%;
    font-size: 13px;
    color: var(--font-color);
}

.post__sharebtn FacebookIcon{
    margin-right: 10px;
}

#fb-icon, #tw-icon, #tg-icon, #rd-icon{
    margin-right: 10px;
    margin-left: 10px;
}

#ok__btn{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

#post__warning{
    font-size: 35px;
    color: red;
}

#post__cancel{
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    color: black;
}
